/* some sections of :root taken from module activities */
:root {
  --primary: #333;
  --secondary: #9caea9;
  --tertiary: #e0f2fe;
  --light-dark: #6f6866;
  --dark: #0f172a;
  --border-radius: 0.3rem;
  --weather-card: #1e3a8a;
}

/* reset paddings and margins to zero and box-sizing to border box
The box-sizing will shrink to make space for the padding and borders. */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 10 px / 16px = 0.625%
1 rem -> 10 px  easier to calculate
percentahge of user's browsers font-size setting */
html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-family: "Roboto" "Rubik" sans-serif;
}

main {
  width: 94%;
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  column-gap: 3rem;
  flex-wrap: wrap;
  font-size: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* main title */
#header-main {
  height: 10rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  font-family: "Roboto" "Rubik" sans-serif;
  font-size: 2rem;
  color: #eee;
  background-image: linear-gradient(to right, #2563eb, #312e81);
}

/* current weather container */
#city-container-current-ul {
  padding-left: 2rem;
  margin: 0 0 10rem 0;
  border: 0.3rem solid var(white);
  border-radius: var(--border-radius);
}

/* buttons */

.btn {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem;
  width: 100%;
  display: block;
  margin: 0.5rem 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  /* box-shadow: 0.3rem 0.3rem var(--dark); */
  transform: translate(-0.1rem, -0.1rem);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 0.2rem 0.2rem var(--dark);
}

.btn-inline {
  display: inline;
}

.submit-btn {
  background-color: #60a5fa;
  color: #fff;
}

/* FORM */

.form-input,
.form-textarea {
  display: block;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 2rem 0;
  font-size: 2rem;
  border: 0.2rem solid var(--light-dark);
  border-radius: var(--border-radius);
}

.weather {
  margin-left: 2rem;
}

/* uv index colour code */
.green {
  background-color: #16a34a;
}

.yellow {
  background-color: #fde047;
}

.orange {
  background-color: #ea580c;
}

.red {
  background-color: #dc2626;
}

.purple {
  background-color: #7e22ce;
}

.uv-class {
  width: 15rem;
  height: 2rem;
}

/* CARDS */
.card {
  margin: 0 0 2rem 0;
  border-radius: var(--border-radius);
}

.card-header {
  margin-left: 2rem;
  padding: 2.5%;
  padding-top: 0%;
  border-radius: calc(0.18rem - 0.1rem) calc(0.18rem - 0.1rem) 0 0;
  font-size: 4rem;
  font-weight: 700;
}

.card-body {
  padding: 3.5%;
}

.border-bottom-card {
  border-bottom: 0.3rem solid var(--dark);
}

/* all sections below taken from module 06 activity 01 */
.col-auto {
  flex-grow: 1;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 2%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 2%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 2%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 2%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 2%);
}

.col-12 {
  flex: 0 0 100%;
}

/* col-sm */
@media screen and (min-width: 640px) {
  .col-sm-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-sm-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-sm-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-sm-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-sm-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-sm-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-sm-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-sm-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-sm-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-sm-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-sm-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-sm-12 {
    flex: 0 0 100%;
  }
}

/* col-md */
@media screen and (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-md-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-md-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-md-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-md-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-md-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-md-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-md-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-md-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-md-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-md-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-md-12 {
    flex: 0 0 100%;
  }
}

/* col-lg */
@media screen and (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-lg-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-lg-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-lg-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-lg-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-lg-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-lg-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-lg-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-lg-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-lg-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-lg-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-lg-12 {
    flex: 0 0 100%;
  }
}

/* col-xl */
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-xl-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-xl-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-xl-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-xl-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-xl-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-xl-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-xl-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-xl-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-xl-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-xl-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-xl-12 {
    flex: 0 0 100%;
  }
}
